# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller & Installer build outputs
build/
dist/
dist_installer/
*.spec

# Temporary installer downloads
inno_*.exe

# Local environments & IDEs
.venv/
venv/
ENV/
.vscode/
.idea/

# Windows temp & logs
*.tmp
*.log
